<br><br>
        <div class="h1">
            Blog
        </div>
        <div class="fade">
            <div class="post_container">

                <div class = "post">
                    <div class="post_heading">Portfolio Assignment begins!</div>
                    <div class = "post_body">
                        28/3/2020
                        <br>
                        Today I designed my website in class, which was online.  It was quite a new experience, I'd never taken classes online before...
                        <br>
                    </div>
                    <%= image_tag("code1.jfif", alt: "Computer screen with code") %>
                </div> 

                <div class = "post">
                    <div class="post_heading">CSS can be tough!</div>
                    <div class = "post_body">
                        29/3/2020
                        <br>
                        One of the most difficult parts of making a new website is the responsiveness.  When someone changes the size of the window, I needed to change the layout of the pages.  This proved to be rather tricky... The solution was just time and patience, as always. 
                        <br>
                    </div>
                    <%= image_tag("code2.jfif", alt: "Computer screen with code") %>
                </div> 

                <div class = "post">
                    <div class="post_heading">It is a day ending in "Y"</div>
                    <div class = "post_body">
                        30/3/2020
                        <br>
                        Being at home all the time has it's pros and cons.  It's great to be comfortable in my own setting but I also miss the social aspect of being in a classroom, or even catching the bus.  I took those things for granted but they really contribute to a certain part of my well-being.
                        <br>
                    </div>
                    <%= image_tag("code3.jfif", alt: "Computer screen with code") %>
                </div> 

                <div class = "post">
                    <div class="post_heading">Today I had lunch</div>
                    <div class = "post_body">
                        31/3/2020
                        <br>
                        Lunch is good.  I've been addicted to Zambrero's for about 5 years now, it's a mexican franchise and makes the best burritos you've ever tried.  No more GyG once you've had Zambreros, I promise.
                        <br>
                    </div>
                    <%= image_tag("keyboard1.jfif", alt: "Computer screen with code") %>
                </div> 

                <div class = "post">
                    <div class="post_heading">Dogs are neat!</div>
                    <div class = "post_body">
                        1/4/2020
                        <br>
                        Dogs really are man's best friend, not that I've ever owned one.  But if I did, it would be a German Shepherd or Labrador.
                        <br>
                    </div>
                    <%= image_tag("dog1.jfif", alt: "Cute dog smiling") %>
                </div> 
            </div>
        </div>