<br><br>
        <div class="h1">
            My Work
        </div>
        <div class = "fade">
            <div class="work_container">
                
                    Back in 2003 I graduated from TAFE with a Diploma in I.T - Software Development.  I then went on to work at the Environmental Protection Agency for 4 years on their helpdesk and assisted with their roll out of Windows 2000 across all of QLD.  I went on to work in Desktop Support as well as Executive Support.<br>
                    I then went back to university and studied Exercise Science for 4 years with some units of Behavioural Psychology.
                    <br>
                    Here is a summary of my work/study history:
                    <br><br>
                    <ul>
                        <li>2003: Obtained Diploma I.T (Software Dev. TAFE)</li>
                        <li>2005: Obtained A+ Hardware Professional & Microsoft Certified Professional (Excom)</li>
                        <li>2006-2010: Worked @ E.P.A (Helpdesk, Desktop Support & Executive Support</li>
                        <li>2010-2014: Obtained Bachelor's Degree of Exercise Science</li>
                        <li>2015: Received Cert IV in Training & Assessment</li>
                        <li>2016-2019: Worked in several casual/part-time roles (P.T, admin & customer service roles)</li>
                        <li>2019: Travelled for 6 months (Asia, UK, Europe, USA)</li>
                        <li>2020: Commenced new I.T career @ Coder Academy, Brisbane</li>
                    </ul>
                    <br><br>
                    <div class="center">
                        These are the tools I am experienced using:
                    </div>
                    <br><br>

                    <div id = "icons_layout">
                        <%= image_tag("html5icon.png", alt: "HTML5 icon", title: "HTML5") %>
                        <%= image_tag("css3icon.png", alt: "CS3 icon", title: "CS3") %>
                        <%= image_tag("jsicon.png", alt: "JS icon", title: "Javascript") %>
                        <%= image_tag("pythonicon.png", alt: "Python icon", title: "Python") %>
                        <%= image_tag("rubyicon.png", alt: "Ruby icon", title: "Ruby") %>
                        <%= image_tag("terminalicon.png", alt: "Terminal icon", title: "Terminal") %>
                        <%= image_tag("giticon.png", alt: "Git icon", title: "Git") %>

                    </div>
                    <br><br><br><br>
                    <div class="center">
                        Some of my past projects include:<br><br>
                        Game of Death (Terminal App, Ruby)<br><br>
                        <a href="https://github.com/Radicals27/game_of_death" target="_blank">
                        
                        <%= image_tag("gameofdeath.gif", alt: "Game of Death text game", title: "Game of Death") %>
                        </a>
                    </div>
        

                <br><br>
                    <a href="resume.pdf" target="_blank">
                        <div class="center">Click here for my resumé</div>
                    </a>
            </div>
        </div>